/*
--------------------------------------------------------------
ESTILOS UNICOS PARA home.html
--------------------------------------------------------------
*/
.home{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}


/*
--------------------------------------------------------------
HEADER
--------------------------------------------------------------
*/
header{
  background-color: #04042C;
  height: 90px;
  width: 100%;
  position:fixed;
  opacity: 0.8;
}

header nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  margin:0px;
  padding: 0px;
}

.lista_titulo{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin:0px 0px 0px 40px;
  padding: 0px;
}

.lista_menu{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px 0px 0px;
  padding: 0px;
  width: 450px;
}

.lista_titulo li a{
  font-family: 'Great Vibes',cursive;
  font-weight: normal;
  color: white;
  text-decoration: none;
  font-size: 40px;
}

.lista_menu li a{
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}
.lista_menu li a:hover{text-decoration: underline;color: white;}


/*
--------------------------------------------------------------
MAIN
--------------------------------------------------------------
*/
.main_home{
  display: flex;
  flex: 1;
  flex-direction: row;
  background-image: url("../img/back_home.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  padding: 0px;
  margin: 0px;
}


/*
--------------------------------------------------------------
FOOTER
--------------------------------------------------------------
*/
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px grey;
  border-bottom: 1px grey;
  height: 300px;
  background-color: black;
  width: 100%;
  padding: 30px;
}

.footer_info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.empresa{
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.empresa p a{
  text-decoration: none;
  color: grey;
  font-family: 'Dosis', sans-serif;
}
.empresa p a:hover{color: white;font-family: 'Dosis', sans-serif;}
.nosotros_footer{
  font-weight: 700;
  font-size: 20px;
}

.ayuda{
  display: flex;
  flex-direction: column;
  justify-content: top;
}

.ayuda p a{
  text-decoration: none;
  color: grey;
  font-family: 'Dosis', sans-serif;
}
.ayuda p a:hover{text-decoration: none;color: white;font-family: 'Dosis', sans-serif;}
.ayuda_footer{
  font-weight: 700;
  font-size: 20px;
}

.categoria{
  display: flex;
  flex-direction: column;
  justify-content: top;
}
.categoria p a{
  text-decoration: none;
  color: grey;
  font-family: 'Dosis', sans-serif;
}
.categoria p a:hover{text-decoration: none;color: white;font-family: 'Dosis', sans-serif;}
.categoria_footer{
  font-weight: 700;
  font-size: 20px;
}

.mpagos{
  display: flex;
  flex-direction: column;
  justify-content: top;
}
.mpagos p a{
  text-decoration: none;
  color: grey;
  font-family: 'Dosis', sans-serif;
}
.mpagos p a:hover{text-decoration: none;color: white;font-family: 'Dosis', sans-serif;}
.mpagos_footer{
  font-weight: 700;
  font-size: 20px;
}

.copyright{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 0.5px solid white;
  padding-top: 20px;
  width: 100%

}
.copyright p{
  text-decoration: none;
  color: grey;
  font-family: 'Dosis', sans-serif;
}
.copyright p:hover{text-decoration: none;color: white;font-family: 'Dosis', sans-serif;}


/* REGISTRO DE USUARIO*/
main {
  padding-top:70px;
}
.registroDeUsuario input{
  margin-left: 20px;
}
main .registroDeUsuario p label{
margin-top: 50px;
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
font-size: 25px;
}
 .registroDeUsuario{
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
 }
 .botonRegistrar{
   margin-bottom: 20px;
 }
 /*TERMINA CSS REGISTRO DE USUARIO*/
 /*Inicio Estilo para login*/
 .content{
   text-align: center;
 }
 .formLogin{
   padding-top: 14%;
   background-color: white;
   font-family: 'Karla', sans-serif;
   /* opacity: 0.5; */
   /* margin-top:30%; */
  background-color: rgba(255,255,255,.7);
   border-radius: 3%;
 }

 .content .userImg{
   margin-top: 10%;
   margin-bottom: -56px;
   background-color: white;
   border-radius: 45%;
   padding:1%;
 }
 .formLogin .login{
   display: block;
   margin-left: 24%;
   border:none;
   background-color: #04042C;
   color:white;
   padding:2% 21%;
   border-radius:6%;
   color: rgba(255,255,255,.7);
 }
 .formLogin .nombre, .password{
   border: solid 1px;
   display: inline;
   padding: 2%;
   border-radius: 4%;
   margin:15%;
 }
 .formLogin .inputPassLogin{
   margin-top: 5%;
   background-color: #ffffff00;
   border: none;
 }
 .formLogin .inputNombreLogin{
   margin-top: 10%;
   background-color: #ffffff00;
   border:none;
 }
#bodyLogin{
    background-image: url('../img/back.jpg');
    background-size: 100%;
}
.forgotPsw{
  padding-top: 15%;
  padding-bottom:3%;
}
.forgotPsw a , .footerLogin a{
  color: #9393cf;
}
.rememberMe{
  padding-top: 3%;
  position: absolute;
}
.labelrememberMe{
  position: relative;
  right: 12%;
}
.formLogin .inputPassLogin:hover {outline:none;}
.formLogin .inputPassLogin:active {outline:none;}
.formLogin .inputPassLogin:focus {outline:none;}
/*Fin Estilo para login*/


/*
------------------------------------------
A PARTIR DE ACA SE ESTILEA PARA RESPONSIVE
------------------------------------------
*/

/* HOME START */
@media (max-width:480px) and (orientation:landscape) {
  header{
    background-color: red;
  }
}
