header{
  background-color: #04042C;
  height: 90px;
  width: 100%;
  position:fixed;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  margin:0px;
  padding: 0px;
}

.lista_titulo{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin:0px 0px 0px 40px;
  padding: 0px;
}

.lista_menu{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px 0px 0px;
  padding: 0px;
  width: 450px;
}

ul a{
  text-decoration: none;
  color: white;
  font-weight: 700;
}

main{
  background-color: #CAD2DC;
}

footer{
  display: inline-block;
  border-top: 1px grey;
  border-bottom: 1px grey;
  height: 300px;
  background-color: black;
  width: 100%;
}

.empresa{
  width: 15%;
  display: inline-block;
}

.ayuda{
  width: 15%;
  display: inline-block;
}

.comunidad{
  width: 15%;
  display: inline-block;
}

.categoria{
  width: 15%;
  display: inline-block;
}

.pagos{
  width: 15%;
  display: inline-block;
}

.anuncios{
  width: 15%;
  display: inline-block;
}
/* REGISTRO DE USUARIO*/
main {
  padding-top:70px;
}
.registroDeUsuario input{
  margin-left: 20px;
}
main .registroDeUsuario p label{
margin-top: 50px;
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
font-size: 25px;
}
 .registroDeUsuario{
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
 }
 .botonRegistrar{
   margin-bottom: 20px;
 }
 /*TERMINA CSS REGISTRO DE USUARIO*/
