header{
  background-color: #04042C;
  height: 90px;
  width: 100%;
  position:fixed;
}

nav{
  display: inline-flex;
  flex-direction: row;
}

.lista_titulo{
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}

.lista_menu{
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  margin-left: 720px;
}

.log_in{
  margin-right: 20px;
}

.sign_up{
  margin-left: 20px;
  margin-right: 20px;
}

.asks{
  margin-left: 20px;
  margin-right: 20px;
}


.titulo{
  margin-top: 32px;
  margin-right: 10px;
}

ul a{
  text-decoration: none;
  color: white;
  font-weight: 700;
}

main{
  background-color: #CAD2DC;
  height: 2000px;
}

footer{
  display: inline-block;
  border-top: 1px grey;
  border-bottom: 1px grey;
  height: 300px;
  background-color: black;
  width: 100%;
}

.empresa{
  width: 15%;
  display: inline-block;
}

.ayuda{
  width: 15%;
  display: inline-block;
}

.comunidad{
  width: 15%;
  display: inline-block;
}

.categoria{
  width: 15%;
  display: inline-block;
}

.pagos{
  width: 15%;
  display: inline-block;
}

.anuncios{
  width: 15%;
  display: inline-block;
}
